[submodule "extern/PixelWindow"]
	path = extern/PixelWindow
	url = https://github.com/juweid/PixelWindow.git
[submodule "extern/LeptonMath"]
	path = extern/LeptonMath
	url = https://github.com/juweid/LeptonMath.git
