[submodule "extern/PixelWindow"]
	path = extern/PixelWindow
	url = https://github.com/JulianWeidert/PixelWindow.git
[submodule "LeptonMath"]
	path = LeptonMath
	url = https://github.com/JulianWeidert/LeptonMath.git
